.right-align {
    text-align: right;
}

.changeable {
    color: turquoise;
}

p b {
   color: #9270cc
}

li b {
    color: #9270cc
}

#code-projects {
    width: 100%;
}

.project-expansion {
    padding: 7%;
    padding-top: 10px;
}

.project-expansion img, video {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

#who-i-am-div p {
    font-family: "Lucida Console", Monaco, monospace;
}

#resume-container {
    width: 750px;
}

button {
    padding: 12px;
    background-color: transparent;
    color: #36d1c5;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    margin-left: auto; /* right align */
    display: block;
    border: none;
    cursor: pointer;
}

button:hover {
    color: turquoise;
    letter-spacing: .12em;
    font-weight: 700;
    transition: all .2s ease-out;
}

#resume-container a {
   text-decoration: none; /* don't show underline */
}